@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --blue:#1a56db ,
    --blue2:
}
.dark {
    background-color: rgb(61, 61, 61);
  }
html {
   background-color: #f9fafb;
   direction: rtl;
}