@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --ui-background: '255 255 255';
  --ui-forground:var(--color-gray-700);
}
.dark{
    --ui-background:var(--color-gray-900) ;
    --ui-forground:var(--color-gray-200);
  }
html {
   direction: rtl;
}

body{
  background-color:rgb( var(--ui-background));
  color:rgb( var(--ui-));
}